@import "tailwindcss";

:root {
  --foreground: #2a2927;
  --background: oklch(97% 0.001 106.424);
  --primary: #a00000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #2a2927;
    --background: oklch(97% 0.001 106.424);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
