@import "tailwindcss";

/* Roca Font Family */
@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Thin Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Light Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Bold Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Heavy Italic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roca";
  src: url("/fonts/roca/Roca Black Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

:root {
  --foreground: #000000;
  --background: #f7f7f7;
  --primary: #a00000;
  --font-roca: "Roca", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-roca: var(--font-roca);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000000;
    --background: #f7f7f7;
  }
}

body {
  color: var(--foreground);
  @apply antialiased bg-background text-foreground font-roca font-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-roca font-black;
}