@import "tailwindcss";

:root {
  --foreground: #2a2927;
  --background: oklch(97% 0.001 106.424);
  --primary: #a00000;
  --font-quicksand: "Quicksand", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-quicksand: var(--font-quicksand);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #2a2927;
    --background: oklch(97% 0.001 106.424);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand);
}
